html {
  background-color: #0A2463;
  font-family: "Georgia";
}

pre {
  color: #FB3640;
  text-align: center;
}

h1 {
  color: #FB3640;
}

h1.title {
  text-align: center;
  font-size: 40px;
}

body {
  margin: 80px;
  color: ivory;
}

p {
  font-size: 20px;
}

a {
  font-size: 20px;
  color: pink;
  font-weight: bold;
}

a:visited {
  color: blueviolet;
}

a:hover {
  background-color: red;
  color: white;
}